<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483781811955-rvs10a0h76esjljj5e5sf03r8umubgev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483781811955-rvs10a0h76esjljj5e5sf03r8umubgev</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>483781811955-21s8h6csie3q6frrde084h93vui93q4a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA48ISWW41lM-rvd5e2VjoyolOhprJzABU</string>
	<key>GCM_SENDER_ID</key>
	<string>483781811955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techlosophy.checkBird</string>
	<key>PROJECT_ID</key>
	<string>checkbird-d2804</string>
	<key>STORAGE_BUCKET</key>
	<string>checkbird-d2804.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483781811955:ios:b087a38a3d7fcbad84a186</string>
	<key>DATABASE_URL</key>
	<string>https://checkbird-d2804-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>